# Copyright (c) 2020 Pete Johanson, Kurtis Lew
# SPDX-License-Identifier: MIT

if SHIELD_NYQUIST_LEFT

config ZMK_KEYBOARD_NAME
	default "Nyquist Left"

endif

if SHIELD_NYQUIST_RIGHT

config ZMK_KEYBOARD_NAME
	default "Nyquist Right"

endif
